.fieldName input {
    padding: 11.5px 11px !important;
    font-family: 'Inter' !important;
    font-size: 16px !important;
    height: 1.3rem !important;
}

.fieldName input::placeholder,
.fieldName label {
    font-family: 'Inter' !important;
    font-size: 16px !important;
}

.authButton {
    background-color: #0959AA !important;
    color: #ffffff !important;
}

.authButton:disabled,
.loadingState {
    opacity: 0.3 !important;
    cursor: no-drop;
}