html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.item-padding {
  padding: 1rem;
}

a {
  text-decoration: none !important;
}

.fieldName input {
  padding: 11.5px 11px !important;
  font-family: 'LatoBold' !important;
  font-size: 16px !important;
  height: 1.3rem !important;
}

.fieldName input::placeholder,
.fieldName label {
  font-family: 'LatoBold' !important;
  font-size: 16px !important;
}

.status {
  padding: 5px;
  font-size: 10px;
  border-radius: 7px;
}